/* 버튼 */

.StartBtn {
    -fx-border-color: Black;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}


.Btn {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0, 0, 0);
}

.BtnSecond {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0, 0, 0);
}

.BtnThird {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0, 0, 0);
}

.ToggleBtn {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0, 0, 0);
}

/* 밑줄 */

.underline:hover {
    -fx-underline: true;
}
.underline:selected {
    -fx-underline: true;
}

/*월 버튼 */
.monthBtn:hover {
}

/* 버튼 hover */

.Btn:hover {
    -fx-background-image: url(images/calendar_hover.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}
.BtnSecond:hover {
    -fx-background-image: url(images/question_hover.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.BtnThird:hover {
    -fx-background-image: url(images/setting_hover.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Round */

.BtnRound {
    -fx-background-radius: 8px;
}

.round {
    -fx-background-radius: 30px;
}


/* 색 코드 */

.firstColor {
    -fx-background-color: rgba(178, 181, 214, 0.8);
}

.secondColor {
    -fx-background-color: rgba(188, 192, 227, 0.8);
}

.thirdColor {
    -fx-background-color: rgba(157, 159, 189, 0.74);
}

.fourthColor {
    -fx-background-color: rgba(72, 73, 87, 0.2);
}

.fifthColor {
    -fx-background-color: rgba(125, 127, 150, 0.59);
}


.BackgroundColor {
    -fx-background-color: rgba(160, 160, 160, 0.3);
}

.white {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.black {
    -fx-background-color: Black;
}

/* 이미지 */

.LogoImage {
    -fx-background-image: url(images/Crescent.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.CresentImage {
    -fx-background-image: url(images/Moon.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Circle {
    -fx-background-image: url(images/circle.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.EmptyCricle {
    -fx-background-image: url(images/empty_circle.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.SPCalendar {
    -fx-background-image: url(images/calendar_splash.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Diary {
    -fx-background-image: url(images/diary.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.FAQ {
    -fx-background-image: url(images/FAQ.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Money {
    -fx-background-image: url(images/Money.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.SignOut {
    -fx-background-image: url(images/signOut.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.User {
    -fx-background-image: url(images/User.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Lock {
    -fx-background-image: url(images/Lock.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Calendar {
    -fx-background-image: url(images/calendar.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Setting {
    -fx-background-image: url(images/setting.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Questions {
    -fx-background-image: url(images/question.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}


/* 그림자 */

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 3, 3);
}

.innerShadow {
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 3, 3);
}

.shadowPane {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8, 0, 3, 3);
}





