.Btn {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: rgba(0, 0, 0, 0);
}

.BtnRound {
    -fx-background-radius: 8px;
}


.round {
    -fx-background-radius: 30px;
}

.firstColor {
    -fx-background-color: rgba(178, 181, 214, 0.8);
}

.secondColor {
    -fx-background-color: rgba(188, 192, 227, 0.8);
}

.thirdColor {
    -fx-background-color: rgba(157, 159, 189, 0.74);
}

.fourthColor {
    -fx-background-color: rgba(72, 73, 87, 0.2);
}

.fifthColor {
    -fx-background-color: rgba(125, 127, 150, 0.59);
}


.BackgroundColor {
    -fx-background-color: rgba(160, 160, 160, 0.1);
}

.white {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.LogoImage {
    -fx-background-image: url(Cresent.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.CresentImage {
    -fx-background-image: url(Moon.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Calendar {
    -fx-background-image: url(calendar.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Setting {
    -fx-background-image: url(setting.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.Questions {
    -fx-background-image: url(question.png);
    -fx-background-size: cover;
    -fx-background-position: center;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 3, 3);
}

.shadowPane {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 5, 5);
}





